{% extends 'base.html' %}
{% block body_block %}

{% load static %}
<section id="features">
    <div class="container">
        <header>
            <h2><strong>Eat</strong> good, <strong>feel</strong> good, <strong>live</strong> well!</h2>
        </header>
        <div class="row aln-center">
            <div class="col-4 col-6-medium col-12-small">

                <!-- Feature -->
                <section>
                    <a href="#" class="image featured"><img src="{% static 'images/pic01.jpg' %}" alt="" /></a>
                    <header>

                        <h3> Eat your greens and glow from within</h3>
                    </header>
                    <p>
                        Eating veggies is one of the best things you can do for your body.
                        They're full of essential nutrients like vitamins, minerals, fiber,
                        and antioxidants that boost immunity, support heart health, improve digestion, and help protect against disease.
                        Plus, they're low in calories and high in goodness—fueling your body naturally and keeping you feeling fresh and energized.
                    </p>
                </section>

            </div>
            <div class="col-4 col-6-medium col-12-small">

                <!-- Feature -->
                <section>
                    <a href="#" class="image featured"><img src="{% static 'images/pic02.jpg' %} " alt="" /></a>
                    <header>
                        <h3> Fruit is fuel for a happy, healthy body </h3>
                    </header>
                    <p>
                        Eating fruits is one of the simplest and most effective ways to support a healthy lifestyle.
                        Fruits are rich in vitamins (like A, C, and E), minerals (like potassium and magnesium), and
                        antioxidants that help your body function at its best.
                        Many fruits—especially citrus fruits like oranges, lemons, and kiwi—are loaded with vitamin C,
                        which strengthens your immune system and helps fight off illness.


                    </p>
                </section>

            </div>
            <div class="col-4 col-6-medium col-12-small">

                <!-- Feature -->
                <section>
                    <a href="#" class="image featured"><img src="{% static 'images/pic03.jpg' %}" alt="" /></a>
                    <header>
                        <h3>Strong body, strong mind—protein is behind</h3>
                    </header>
                    <p>
                        Protein is a vital nutrient your body needs to build and repair muscles,
                        boost your immune system, and support healthy hair, skin, and nails.
                        It also helps keep you full longer, making it easier to manage energy levels and maintain a healthy weight.
                        Whether from plants or animals, protein fuels your body and keeps you strong from the inside out.
                    </p>
                </section>

            </div>
            <!--       <div class="col-12">
                       <ul class="actions">
                           <li><a href="#" class="button icon solid fa-file">Tell Me More</a></li>
                       </ul>
                   </div>-->
        </div>
    </div>
    <hr />
    <div class="container">
        <header>
            <h2><strong>Move</strong> your <strong>body</strong>, <strong>still</strong> your <strong>mind</strong></h2>
        </header>
        <div class="row aln-center">
            <div class="col-4 col-6-medium col-12-small">

                <!-- Feature -->
                <section>
                    <a href="#" class="image featured"><img src="{% static 'images/pic11.jpg' %}" alt="" /></a>
                    <header>

                        <h3> Breathe. Stretch. Let go</h3>
                    </header>
                    <p>
                        "Yoga is a mindful practice that connects the body, breath, and mind. 
                        Through a combination of physical postures, breathing techniques, and meditation,
                        yoga helps improve flexibility, build strength, reduce stress, and promote inner peace. It’s more than
                        just exercise—it’s a way to reconnect with yourself, find balance, and create space for healing, both physically and mentally.
                    </p>
                </section>

            </div>
            <div class="col-4 col-6-medium col-12-small">

                <!-- Feature -->
                <section>
                    <a href="#" class="image featured"><img src="{% static 'images/pic14.jpg' %} " alt="" /></a>
                    <header>
                        <h3>Sweat now, shine later </h3>
                    </header>
                    <p>
                        Exercise is a powerful way to strengthen your body and boost your mind. 
                        Regular physical activity improves muscle strength, increases endurance, and supports overall health by enhancing circulation
                        and metabolism. Beyond the physical benefits, exercise also helps reduce stress, improve mood, and increase energy levels. 
                        Whether it’s a quick workout or a long session, every move counts toward a healthier, stronger you.


                    </p>
                </section>

            </div>
            <div class="col-4 col-6-medium col-12-small">

                <!-- Feature -->
                <section>
                    <a href="#" class="image featured"><img src="{% static 'images/pic17.jpg' %}" alt="" /></a>
                    <header>
                        <h3>Rise, run, repeat</h3>
                    </header>
                    <p>
                        Running is a simple yet powerful way to boost your physical and mental health. 
                        It strengthens your heart, improves endurance, and helps maintain a healthy weight. Beyond the physical benefits, 
                        running also releases endorphins that elevate your mood and reduce stress. Whether you’re hitting 
                        the pavement for a quick jog or training for a marathon, every step you take brings you closer to a stronger, healthier you
                    </p>
                </section>

            </div>
            <!--       <div class="col-12">
                       <ul class="actions">
                           <li><a href="#" class="button icon solid fa-file">Tell Me More</a></li>
                       </ul>
                   </div>-->
        </div>
    </div>
</section>

<!-- Banner -->
<section id="banner" style="background-image: url('{% static 'images/back.jpg' %}');">
    <div class="container" >
      
        <p style="color:grey">
            “A healthy outside starts from the inside.” 
        </p>
        <p style="color: grey; font-size: 20px; ">   – Robert Urich</p>
    </div>
</section>

<!-- Main -->
<section id="main" style="display:none">
    <div class="container">
        <div class="row">

            <!-- Content -->
            <div id="content" class="col-8 col-12-medium">

                <!-- Post -->
                <article class="box post">
                    <header>
                        <h2>
                            <a href="#">
                                I don’t want to say <strong>it’s the aliens</strong> ...<br />
                                but it’s the aliens.
                            </a>
                        </h2>
                    </header>
                    <a href="#" class="image featured"><img src="images/pic04.jpg" alt="" /></a>
                    <h3>I mean isn't it possible?</h3>
                    <p>
                        Phasellus laoreet massa id justo mattis pharetra. Fusce suscipit
                        ligula vel quam viverra sit amet mollis tortor congue. Sed quis mauris
                        sit amet magna accumsan tristique. Curabitur leo nibh, rutrum eu malesuada
                        in, tristique at erat lorem ipsum dolor sit amet lorem ipsum sed consequat
                        magna tempus veroeros lorem sed tempus aliquam lorem ipsum veroeros
                        consequat magna tempus lorem ipsum consequat Phasellus laoreet massa id
                        justo mattis pharetra. Fusce suscipit ligula vel quam viverra sit amet
                        mollis tortor congue. Sed quis mauris sit amet magna accumsan tristique.
                        Curabitur leo nibh, rutrum eu malesuada in tristique.
                    </p>
                    <ul class="actions">
                        <li><a href="#" class="button icon solid fa-file">Continue Reading</a></li>
                    </ul>
                </article>

                <!-- Post -->
                <article class="box post">
                    <header>
                        <h2>
                            <a href="#">
                                By the way, many thanks to <strong>regularjane</strong>
                                for these awesome demo photos
                            </a>
                        </h2>
                    </header>
                    <a href="#" class="image featured"><img src="images/pic05.jpg" alt="" /></a>
                    <h3>You should probably check out her work</h3>
                    <p>
                        Phasellus laoreet massa id justo mattis pharetra. Fusce suscipit
                        ligula vel quam viverra sit amet mollis tortor congue. Sed quis mauris
                        sit amet magna accumsan tristique. Curabitur leo nibh, rutrum eu malesuada
                        in, tristique at erat lorem ipsum dolor sit amet lorem ipsum sed consequat
                        consequat magna tempus lorem ipsum consequat Phasellus laoreet massa id
                        in, tristique at erat lorem ipsum dolor sit amet lorem ipsum sed consequat
                        magna tempus veroeros lorem sed tempus aliquam lorem ipsum veroeros
                        consequat magna tempus lorem ipsum consequat Phasellus laoreet massa id
                        justo mattis pharetra. Fusce suscipit ligula vel quam viverra sit amet
                        mollis tortor congue. Sed quis mauris sit amet magna accumsan tristique.
                        Curabitur leo nibh, rutrum malesuada.
                    </p>
                    <p>
                        Erat lorem ipsum veroeros consequat magna tempus lorem ipsum consequat
                        Phasellus laoreet massa id justo mattis pharetra. Fusce suscipit ligula
                        vel quam viverra sit amet mollis tortor congue. Sed quis mauris sit amet
                        magna accumsan tristique. Curabitur leo nibh, rutrum eu malesuada in,
                        tristique at erat. Curabitur leo nibh, rutrum eu malesuada in, tristique
                        at erat lorem ipsum dolor sit amet lorem ipsum sed consequat magna
                        tempus veroeros lorem sed tempus aliquam lorem ipsum veroeros consequat
                        magna tempus.
                    </p>
                    <ul class="actions">
                        <li><a href="#" class="button icon solid fa-file">Continue Reading</a></li>
                    </ul>
                </article>

            </div>

            <!-- Sidebar -->
            <div id="sidebar" class="col-4 col-12-medium">

                <!-- Excerpts -->
                <section>
                    <ul class="divided">
                        <li>

                            <!-- Excerpt -->
                            <article class="box excerpt">
                                <header>
                                    <span class="date">July 30</span>
                                    <h3><a href="#">Just another post</a></h3>
                                </header>
                                <p>
                                    Lorem ipsum dolor odio facilisis convallis. Etiam non nunc vel est
                                    suscipit convallis non id orci lorem ipsum sed magna consequat feugiat lorem dolore.
                                </p>
                            </article>

                        </li>
                        <li>

                            <!-- Excerpt -->
                            <article class="box excerpt">
                                <header>
                                    <span class="date">July 28</span>
                                    <h3><a href="#">And another post</a></h3>
                                </header>
                                <p>
                                    Lorem ipsum dolor odio facilisis convallis. Etiam non nunc vel est
                                    suscipit convallis non id orci lorem ipsum sed magna consequat feugiat lorem dolore.
                                </p>
                            </article>

                        </li>
                        <li>

                            <!-- Excerpt -->
                            <article class="box excerpt">
                                <header>
                                    <span class="date">July 24</span>
                                    <h3><a href="#">One more post</a></h3>
                                </header>
                                <p>
                                    Lorem ipsum dolor odio facilisis convallis. Etiam non nunc vel est
                                    suscipit convallis non id orci lorem ipsum sed magna consequat feugiat lorem dolore.
                                </p>
                            </article>

                        </li>
                    </ul>
                </section>

                <!-- Highlights -->
                <section>
                    <ul class="divided">
                        <li>

                            <!-- Highlight -->
                            <article class="box highlight">
                                <header>
                                    <h3><a href="#">Something of note</a></h3>
                                </header>
                                <a href="#" class="image left"><img src="images/pic06.jpg" alt="" /></a>
                                <p>
                                    Phasellus sed laoreet massa id justo mattis pharetra. Fusce suscipit ligula vel quam
                                    viverra sit amet mollis tortor congue magna lorem ipsum dolor et quisque ut odio facilisis
                                    convallis. Etiam non nunc vel est suscipit convallis non id orci. Ut interdum tempus
                                    facilisis convallis. Etiam non nunc vel est suscipit convallis non id orci.
                                </p>
                                <ul class="actions">
                                    <li><a href="#" class="button icon solid fa-file">Learn More</a></li>
                                </ul>
                            </article>

                        </li>
                        <li>

                            <!-- Highlight -->
                            <article class="box highlight">
                                <header>
                                    <h3><a href="#">Something of less note</a></h3>
                                </header>
                                <a href="#" class="image left"><img src="images/pic07.jpg" alt="" /></a>
                                <p>
                                    Phasellus sed laoreet massa id justo mattis pharetra. Fusce suscipit ligula vel quam
                                    viverra sit amet mollis tortor congue magna lorem ipsum dolor et quisque ut odio facilisis
                                    convallis. Etiam non nunc vel est suscipit convallis non id orci. Ut interdum tempus
                                    facilisis convallis. Etiam non nunc vel est suscipit convallis non id orci.
                                </p>
                                <ul class="actions">
                                    <li><a href="#" class="button icon solid fa-file">Learn More</a></li>
                                </ul>
                            </article>

                        </li>
                    </ul>
                </section>

            </div>

        </div>
    </div>
</section>
{% endblock %}