{% extends 'base.html' %}
{% block body_block %}

{% load static %}
<section id="features">
    <div class="container">
        <header>
            <h2>Register</h2>
        </header>
        <div class="row aln-center">
            <div class="col-6 col-6-medium col-12-small">

                <form  method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="SUBMIT" />
                    {% if error %}
                    <p style="color:red">{{error}}</p>

                    {% endif %}
                </form>
                <p>Not Registered ? <a href="{% url 'register' %}">Click </a> To Register</p>

            </div>


        </div>
    </div>

</section>


{% endblock %}